@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
	margin: 0;
}

#map {
	height: 100vh;
	width: 100%;
}

.form-block {
	background-color: #fff;
	border: 1px solid #ddd;
	position: absolute;
	bottom: 10%;
	right: 10px;
	padding: 10px;
	z-index: 999;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
	border-radius: 5px;
	width: 300px;
	font-family: "Roboto";
}

.form-title {
	text-align: center;
	font-weight: 900;
	font-size: 10px;
}

.form-inputs {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #4b4b4b;
	border-radius: 5px;
	padding: 20px 5px 10px;
}

.form-control {
	display: flex;
	align-items: center;
	margin: 5px auto;
}

.input-control {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #fff;
	padding: 10px;
	border-radius: 5px;
}

.input-control > label {
	font-weight: 900;
}

.input-control > input[type="text"] {
	background-color: #e8e8e8;
	border: 1px;
	border-radius: 5px;
	padding: 5px;
	margin: 5px 0px;
	box-shadow: 0px 2px;
}

.marker-input {
	width: 250px;
}

.go-button {
	background-color: #0dc135;
	margin-top: 10px;
	border: none;
	color: white;
	padding: 10px 30px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
	border-radius: 5px;
}

.select-title {
	font-size: 17px;
}

.select-subtitle {
	margin-top: 0;
	margin-bottom: 15px;
	color: #a8a8a8;
	font-size: 13px;
}

.jeep-form {
	background-color: #fff;
	border: 1px solid #ddd;
	position: absolute;
	top: 10%;
	left: 10px;
	padding: 5px;
	z-index: 999;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
	border-radius: 2.5px;
	width: 300px;
	text-align: center;
	font-family: "Roboto";
}

.jeep-select {
	background-color: #bfd6c4;
	height: 200px;
	border-color: #46ff6f;
	border-style: solid;
	border-radius: 10px;
	padding: 10px;
}

.jeep-img {
	width: 30px;
	float: right;
	margin: 7px 10px;
}

.first-route {
	background-color: #e70000;
	width: 100%;
	height: 30px;
	border-radius: 5px;
	margin: 20px 0px 20px;
}

.hoverable:hover {
	transform: scale(1.05);
}

.second-route {
	background-color: #0066ff;
	width: 100%;
	height: 30px;
	border-radius: 5px;
	margin: 20px 0px 20px;
}

.third-route {
	background-color: #ebff00;
	width: 100%;
	height: 30px;
	border-radius: 5px;
	margin: 20px 0px 20px;
}

.leaflet-top .leaflet-control {
	margin-top: 180px;
}

input:nth-child(1) {
	margin-bottom: 10px;
}

.details {
	margin: 20px 5px;
}

.detail {
	display: block;
	margin: 20px 5px;
}

@media only screen and (max-width: 992px) {
	.jeep-form {
		width: 150px;
	}

	.form-block {
		width: 200px;
	}

	.marker-input {
		width: 150px;
	}
}
