@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
	margin: 0;
}

#map {
	height: 100vh;
	width: 100%;
}

.button-group {
	position: absolute;
	bottom: 20px;
	left: 20px;
	z-index: 999;
}

button {
	box-sizing: border-box;
	padding: 15px;
	appearance: none;
	border-radius: 4px;
	background: #ffdee3;
	border: none;
}

button:focus {
	outline: none;
	border: 0;
	box-shadow: 0 0 0 2px #fff, 0 0 0 4px #346af3;
	position: relative;
}

button.left {
	background: #346af3;
	color: #fff;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

button.right {
	background: #fff;
	border: solid 1px lightgrey;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.button-container {
	display: flex;
}

.form-block {
	display: block;
	background-color: #fff;
	border: 1px solid #ddd;
	position: absolute;
	bottom: 40%;
	right: 10px;
	padding: 10px;
	z-index: 998;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
	border-radius: 5px;
	width: 300px;
	font-family: "Roboto";
}

.form-title {
	text-align: center;
	font-weight: 900;
	font-size: 10px;
}

.form-inputs {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #4b4b4b;
	border-radius: 5px;
	padding: 20px 5px 10px;
}

.form-control {
	display: flex;
	align-items: center;
	margin: 5px auto;
}

.input-control {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #fff;
	padding: 10px;
	border-radius: 5px;
}

.input-control > label {
	font-weight: 900;
}

.input-control > input[type="text"] {
	background-color: #e8e8e8;
	border: 1px;
	border-radius: 5px;
	padding: 5px;
	margin: 5px 0px;
	box-shadow: 0px 2px;
}

.marker-input {
	width: 250px;
}

.go-button {
	background-color: #0dc135;
	margin-top: 10px;
	border: none;
	color: white;
	padding: 10px 30px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
	border-radius: 5px;
}

.select-title {
	font-size: 17px;
}

.select-subtitle {
	margin-top: 0;
	margin-bottom: 15px;
	color: #a8a8a8;
	font-size: 13px;
}

.jeep-form {
	display: block;
	background-color: #fff;
	border: 1px solid #ddd;
	position: absolute;
	top: 10%;
	left: 10px;
	padding: 5px;
	z-index: 997;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
	border-radius: 2.5px;
	width: 300px;
	text-align: center;
	font-family: "Roboto";
}

.jeep-select {
	background-color: #bfd6c4;
	height: 200px;
	border-color: #46ff6f;
	border-style: solid;
	border-radius: 10px;
	padding: 10px;
}

.jeep-img {
	width: 30px;
	float: right;
	margin: 7px 10px;
}

.first-route {
	background-color: #e70000;
	width: 100%;
	height: 30px;
	border-radius: 5px;
	margin: 20px 0px 20px;
}

.hoverable:hover {
	transform: scale(1.05);
}

.second-route {
	background-color: #0066ff;
	width: 100%;
	height: 30px;
	border-radius: 5px;
	margin: 20px 0px 20px;
}

.third-route {
	background-color: #ebff00;
	width: 100%;
	height: 30px;
	border-radius: 5px;
	margin: 20px 0px 20px;
}

.fourth-route {
	background-color: #0dc135;
	width: 100%;
	height: 30px;
	border-radius: 5px;
	margin: 20px 0px 20px;
}

.leaflet-top .leaflet-control {
	margin-top: 180px;
}

input:nth-child(1) {
	margin-bottom: 10px;
}

.details {
	margin: 20px 5px;
}

.detail {
	display: block;
	margin: 20px 5px;
}

input[type="checkbox"] {
	height: 0;
	width: 0;
	visibility: hidden;
	margin: 5px;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 50px;
	height: 25px;
	background: grey;
	display: block;
	border-radius: 100px;
	position: relative;
}

label:after {
	content: "";
	position: absolute;
	top: 2.5px;
	left: 4px;
	width: 19.5px;
	height: 19.5px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + label {
	background: #bada55;
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label:active:after {
	width: 30px;
}

.toggle-class {
	display: flex;
	justify-content: center;
	align-items: center;
}

.special-text {
	margin-left: 10px;
}

@media only screen and (max-width: 992px) {
	.jeep-form {
		width: 150px;
	}

	.form-block {
		width: 200px;
	}

	.marker-input {
		width: 150px;
	}
}
